[submodule "sources/shared/elAPI/elHAL"]
	path = sources/shared/elAPI/elHAL
	url = git@github.com:emavlyutov/elcd-elhal.git
[submodule "sources/shared/elAPI/elRTOS"]
	path = sources/shared/elAPI/elRTOS
	url = git@github.com:emavlyutov/elcd-elrtos.git

